$primaryFont: sans-serif;
$titleFont: "IceCaps";

@mixin oliveText{
  color: darkolivegreen;
}

p{
  color: rgba(4, 4, 113, 0.925);
}

@font-face{
  font-family: "IceCaps";
  src: url("IceCaps.ttf");
}
ul{
  font-family:$primaryFont;
  @include oliveText;
}

h1{
  font-family: $titleFont;
}

body{
  background-color: lightgoldenrodyellow;
}

main{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
footer {
  border-style: dashed !important;
  font-family: $titleFont;
}
#payments {
  color: blue;
  
}

#payment2 {
  color: #003366;
}

#payment3{
  color: red;
}

#payment4{
  color: olive;
  
}

#payment5{
  color: rgb(0, 204, 102);
}

#payment6{
  color: #ff9900;
}

.border{
  border-style: dashed;
  color:darkred;
}

.gradient{
  background-image: linear-gradient(to bottom right, yellow, grey, white);
}
@mixin animation{
  transform: scale(1) rotate(0deg);
  transition: transform 1s;

  &:hover{
      transform: scale(2) rotate(15deg);
      transition: transform 2s;
  }
  }


#animated-button{
@include animation;
}